<div class="card mb-3">
    <div class="card-header">
        <h4>Invoice Details</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-section">
                    <h5>Companies</h5>
                    <div id="companies"></div>
                </div>
                <div class="detail-section">
                    <h5>Addresses</h5>
                    <div id="addresses"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-section">
                    <h5>Dates</h5>
                    <div id="dates"></div>
                </div>
                <div class="detail-section">
                    <h5>Amounts</h5>
                    <div id="amounts"></div>
                </div>
            </div>
        </div>
    </div>
</div>